#page{
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;
    position: absolute;
}
#LogB{
    float: left;
}
#SignB{
    float:right;
}

#Main{
    background-image: linear-gradient(to right, purple , lime);
    position: relative;
    display: inline-flex;
    width: 50%;
    height: 50%;
    border: solid 1px white;
    margin: 10% 25% ;
}
.SignInfo{display: none;
    text-align: center;
}

.LogInfo{display: inline;
    text-align: center;
    padding: 25%;
}